*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
singleinstance启动模式.PNG
singleTASK启动模式.PNG
singleTOP启动模式.PNG
standard启动模式.PNG
